<p class="h4 text-center">
  <strong><%= @article.title %></strong>
</p>

<p style="text-align: justify">
  <%= @article.body %>
</p>

<div id="edit-article" class="mb-2">
  <%= link_to 'Edit', edit_article_path(@article), remote: true, class: "btn btn-sm btn-danger", style: "background-color: #EB5E55;" %>
</div>
<%= link_to 'Back', articles_path,class: "btn btn-sm btn-danger", style: "background-color: #EB5E55;" %>