<div class="container">
  <p class="h3 mt-3">Editing Article</p>

  <%= render 'form', article: @article %>

  <%= link_to 'Show', @article, class:"btn btn-sm btn-danger mt-2", style: "background-color: #EB5E55;" %> 
  <%= link_to 'Back', articles_path, class:"btn btn-sm btn-danger mt-2", style: "background-color: #EB5E55;" %>
</div>
