<div id="week-articles" class="container mt-4">
  <%= link_to "See the articles for the last 7 days", articles_path, remote: true, class: "btn btn-danger btn-lg btn-block", style: "background-color: #EB5E55;" %>
</div>